---
import Navbar from "../components/navbar.astro";
import Rightcard from "../components/rightcard.astro";
import Leftcard from "../components/leftcard.astro";
import Paragraph from "../components/paragraph.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Ourservices from "../components/ourservices.astro";
import Portfolio from "../components/portfolio.astro";
import Contact from "../components/contact.astro";
---

<Layout>
	<Navbar />
	<Welcome />
	<Rightcard title="Conócenos" />
	<Paragraph
		text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
	/>

	<section class="our-services">
		<Leftcard title="Nuestros servicios" />
		<Ourservices />
		<Paragraph
			text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
		/>
	</section>

	<section class="portfolio">
		<Rightcard title="Portafolio" bgColor="#00A4D1" />
		<Paragraph
			text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
		/>
		<Portfolio />
	</section>

	<section class="contact">
		<Contact />
	</section>
</Layout>

<style>
	.our-services {
		position: relative;
		padding: 2rem;
	}
	.portfolio {
		position: relative;
		padding: 2rem;
	}
	:global(:root) {
		--primary-color: #040f20;
		--secondary-color: #e2014e;
		--white: #fff;
		--black: #000;
		--gray: #f5f5f5;
		--font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova",
			"Nimbus Sans", Arial, sans-serif;
	}
</style>
